body, html {
    margin: 0px;
    padding: 0px;
    background-color: #ededed;
    font-family: 'Trebuchet MS';
    min-width: 20px;
    min-height: 930px;
}

.Container {
    width: 90%;
    min-width: 500px;
    margin: auto;
}

header {
    width: 100%;
    height: 200px;
    line-height: 120px;
    background-color: #ffffff;

}

.content {
    width: 100%;
    height: 800px;
    padding: 10px 0px;
    background-color: #ffffff;
}


.menu_text {

    height: %;
    width: %;
    float: left;
    margin-left: 157px;
    margin-top: -47px;
    color: #07707F;


}
#menu_bar {
    height: 10px;




}

#menu_bar_2 {
    height: 10px;
    margin-top: -20px;
    background-color: #0EE0FF;

}

#white_menu_bar {
    height: 100px;
    background-color: #ffffff;
    margin-top: -84px;


}
.rest {
    margin-left: 50px;
}

#logo2 {
    margin-top: 5px;
    height: 0px;

}


#Text_border {
    margin-top: 150px;
    margin-left: 100px;
    border: 5px solid black;
    height: 250px;
    width: 30%;


}
#Text_border2 {
    margin-top: -670px;
    margin-left: 600px;
    border: 5px solid black;
    height: 250px;
    width: 30%;

}

#logo {
    margin-top: 10px;
    margin-left: 70px;


}
#kontaktrubrik {
    margin-top: 70px;
    margin-left: 100px;
    float: left;

}
#white_background {
    margin-top: -301px;
    background-color: #ffffff;
    height: 800px;
    width: 100%;

}
#kontaktinformation {
    margin-top: 200px;
    margin-left: 100px;
}

#white_background2 {
    background-color: #ffffff;
    height: 800px;
    widows: 100%;

}

#omossrubrik {
    margin-top: -750px;
    margin-left: 150px;

}

#classroom {
    margin-left: 50px;
}

#white_background3 {
    background-color: #ffffff;
    height: 1000px;
    width: 100%;
}

#personalrubrik {
    margin-top: -970px;
    margin-left: 150px;
}

#personal1 {
    margin-top: -350px;
    margin-left: 50px;
}

#personal2 {
    margin-top: -55px;
    margin-left: 250px;
}

#personal3 {
    margin-top: -55px;
    margin-left: 450px;
}

#personal4 {
    margin-top: 310px;
    margin-left: 50px;
}

#personal5 {
    margin-top: -55px;
    margin-left: 250px;
}

#personal6 {
    margin-top: -55px;
    margin-left: 450px;
}

#anna1 {
    margin-top: 70px;
    margin-left: 50px;
}
#anna2 {
    margin-top: -205px;
    margin-left: 250px;
}

#anna3 {
    margin-top: -205px;
    margin-left: 450px;
}

#anna4 {
    margin-top: 140px;
    margin-left: 50px;
}

#anna5 {
    margin-top: -204px;
    margin-left: 250px;
}

#anna6 {
    margin-top: -204px;
    margin-left: 450px;
}